@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    background-color: hsl(212, 45%, 89%);
}

main {
    height: 100%;
    display: grid;
    place-items: center;
}

#card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 15px;
    padding: 14px;

    border-radius: 17px;
}

#image img {
    border-radius: 10px;
    width: 100%;
}

#text-content {
    text-align: center;
}

#text-content > h1 {
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    padding: 0 px;
    font-weight: 700;
}

#text-content > p {
    font-weight: 400;
    padding: 15px 15px;
    color: hsl(220, 15%, 55%);
    font-size: 13px;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    transform: translate(-50%, -50%);
    align-self: self-end;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
